.cancel {
  margin-left: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.button-wrapper {
  display: flex;
  .action-button {
    // background-color: rgb(30, 155, 232);
    padding: 8px 10px;
    width: 120px;
    margin-left: 10px;
    color: #fff;
  }
}

ion-modal#confirm-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

ion-modal#confirm-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#confirm-modal .wrapper {
  margin-bottom: 10px;
}
